img {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    border: solid blue 5px;
    padding: 5%;
}

h1 {
    line-height: 0;
}

body {
    background-image: url('../images/tic-tac-toe.png');
}