img {
    width: 25%;
    display: inline-block;
    border: 5px solid black;
    margin: 1%;
    box-sizing: border-box;

}

.hover:hover {
    border-radius: 45%;
}

img:focus {
    border: 5px solid blue;
}