@media only screen and (min-width: 650px) {
    .photo-cell img {
        width: 100%;
    }
    .top-nav ul li {
        display: inline-block;
        border-top: 1px solid red;
    }
    .top-nav ul {
        text-align: center;
    }
    .photo-cell {
        display: inline-block;
        margin: 0px;
        box-sizing: border-box;
    }
    .half {
        width: 50%;
    }
}

@media only screen and (min-width: 1000px) {
    .logo {
        float: left;
    }
    .top-nav ul li {
        display: inline-block;
        border-top: none;
    }
    .top-nav ul {
        text-align: right;
        padding-top: 10px;
    }
    .photo-cell {
        display: inline-block;
        margin: 0px;
        box-sizing: border-box;
        width: 50%;
    }
    .left img {
        float: left;
    }
    .right img {
        float: right;
    }
    .half {
        width: 25%;
    }
}