@media only screen and (min-width: 650px) {
    .top-nav ul li {
        display: inline-block;
    }
    .top-nav ul {
        text-align: center;
    }
    .half {
        display: inline-block;
        float: left;
        width: 47%;
        text-align: center;
    }



    body {
        background-color: blue;
    }
}